body {
    width: 60%;
    text-align: center;
    font-size: 18px;
    background-color: #333333;
    color: white;
}
input[type="text"] {
    background-color: #333333;
}
div.container {
    width: 80%;
}
div.row {
    margin-top: 30px;
}
div.break, div.session {
    width: 40%;
    text-transform: uppercase;
    display: inline-block;
}
#break, #session {
    width: 20%;
    margin: 5px auto;
    border-style: none;
    text-align: center;
}
input:focus{
    outline: none;
}
#time{
  font-size:50px;
  text-transform: uppercase;
  text-align: center;
  margin:10px auto;
  border: 2px solid #99CC00;
  border-radius:50%;
  width:300px;
  height:300px;
  overflow:hidden;
  position:relative;
  z-index: 3;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
#timer {
  /* horizontally center */
  margin-left: auto;
  margin-right: auto;
  /* vertically center */
  position: relative;
  top: 40%;
  transform: translateY(-50%);
}
#filler{
  background-color: #99CC00;  /* session: rgb(153,204,0);  break: rgb(255,68,68); */
  height: 0px;
  width: 300px;
  position:absolute;
  bottom: 0;
  z-index: -1;
  opacity: 0.6;
}
/* remove default style of button */
button.minus, button.plus {
  background:none;
  border:none;
  outline: none;
}